#################
## CCAFS-Climate
#################
/config/config.php
/config/downloads/chirps/*

# Smarthy
/templates_c/

# Netbeans
/nbproject/
/core/

# Eclipse
.buildpath
.project
.settings*
stations/config/*
stations/config/db_ccafs_climate.php
downloads/data_stations
stations/config/*
stations/php/correctedTest - Copy.php
stations/php/correctedTest (2).php
libs/geoext2-2.0.3/examples/mappanel/mappanel.js
libs/geoext2-2.0.3/examples/mappanel/mappanel.html
libs/geoext2-2.0.3/examples/mappanel/mappanel - Copy.js
libs/geoext2-2.0.3/examples/mappanel/mappanel - Copy.html
libs/geoext2-2.0.3/examples/mappanel/mappanel.html
libs/geoext2-2.0.3/examples/mappanel/mappanel.js
/config/db.php
/config/smarty.php
/config/db.php
/config/smarty.php
