#################
## CCAFS-Climate
#################
/config/config.php
/config/downloads/chirps/*

# Smarthy
/templates_c/

# Netbeans
/nbproject/
/core/

# Eclipse
.buildpath
.project
.settings*
stations/config/*
stations/config/db_ccafs_climate.php
downloads/data_stations
/config/smarty.php
/config/db.php
