
			 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
			ul{margin:0;padding:0;list-style:none} 
			.skin-minimal .skin-section .list li{padding-left:0px}

			#search_form {
				font-family: 'Oswald', sans-serif;
				font-size: 17px;
				/*background: url(../images/search-form.png);*/
				min-height: 510px;
			}


			.icon-grid {
				background-image:url(../../libs/ext-4.2.2/examples/shared/icons/fam/grid.png) !important;
			}
			.add {
				background-image:url(../../libs/ext-4.2.2/examples/shared/icons/fam/add.gif) !important;
			}			
			.x-grid-rowbody p {
				margin: .5em 0;
			}
			/*body {
				font-family: "Trebuchet MS"!important;
			}*/
			.x-body {
				font-family: 'Oswald', sans-serif;
				font-size: 11px;
				color: #333;
			}
						
			.css_labels .x-form-item-label {
			color:#555555;padding-left:3px;padding-rigth:1px;font-family: 'Oswald', sans-serif;font-size: 14px;
			}

			.css_labels .x-form-cb-label-after{
			color:#555555;padding-left:17px;padding-rigth:1px;font-family: 'Oswald', sans-serif;font-size: 13px;

			}
			.css_labels .x-fieldset-header-text{
			color:rgb(19, 90, 146);
			font-family: 'Oswald', sans-serif !important;
			font-size: 13px;
			}
			/*.css_labels  .x-tab-default-active .x-tab-inner{
			font-family: 'Oswald';
			font-size: 14px;
			color:#135A92;
			}*/

			.css_labels .x-form-text {
			font-family: 'Oswald';
			font-size: 14px;
			color:rgb(179, 31, 132);
			}
			.css_labels .x-grid-cell{
			font-family: 'Oswald';
			font-size: 13px;
			color:#555555;
			}
			.css_labels .x-column-header-text{
				font-family: 'Oswald';
				font-size: 14px;
				color:#555555;
				font-weight: normal !important;
			}
			.css_labels .x-border-layout-ct{
			background-color: white;
			}

			.css_labels .x-panel-default-outer-border-rbl{ /*lineas del grid*/
			border-right-color: silver !important;
			border-right-width: 1px !important;
			border-bottom-color: silver !important;
			border-bottom-width: 1px !important;
			border-left-color: silver !important;
			}


			.x-panel-header-default {
			  background-image: none;
			  background-color: #EFEFEF;/*#4D545E;*/
			}
			
			/*================================= TABS =============================================*/
			
			.css_labels .x-tab-bar-default { 
			background-color: #EFEFEF;/*#323a45;*/
			}
			.css_labels .x-tab-default-top {
			background-color:#323a45;
			}
			.x-tab-bar-default-horizontal { /*quita la linea del tab*/
				height: 33px;
			}	
			.x-tab-bar-strip-default {
			  border-style: solid;
			  border-color: #157fcc;
			  background-color: #EFEFEF;/*#2F4056;/*#83939E;*/
			}
			
			.x-tab-default .x-tab-inner {
				font-size: 16px;
				color: #95999A;
				font-family: 'Oswald', sans-serif;
				min-width: 53px;
				font-weight: normal !important;
			}
			.x-tab-default-active .x-tab-inner {
				font-size: 16px;
				color: white;
				font-family: 'Oswald', sans-serif;
				min-width: 53px;
				font-weight: normal !important;
			}
	
			/*================================= TABS FIN =============================================*/
			.x-btn-default-small {
			border-radius: 3px;
			padding: 3px 3px 3px 3px;
			border-width: 1px;
			border-style: solid;
			background-image: none;
			background-color: #F5F5F5/* #5B5F61*/;
			border-color: #C0C0C0;
			background-image: none;
			}
			.x-btn-default-small-over {
			border-radius: 3px;
			padding: 3px 3px 3px 3px;
			border-width: 1px;
			border-style: solid;
			background-image: none;
			background-color: #ebebeb;
			border-color: #C0C0C0;
			background-image: none;
			}
			.x-btn-default-small .x-btn-inner {
			font-size: 12px;
			font-weight: bold;
			font-family: helvetica, arial, verdana, sans-serif;
			color: rgb(76, 54, 54);
			padding: 0 5px;
			}
			.x-splitter-horizontal {
			cursor: e-resize;
			cursor: row-resize;
			background-color: #EFEFEF;/*#323a45;*/
			}
			.x-panel-header-default .x-tool-img {
			background-color: #4D545E;
			}

			.x-panel-default-outer-border-rl { /*dos lineas del grid del header*/
			border-right-color: silver !important;
			border-right-width: 1px !important;
			border-left-color: silver !important;
			border-left-width: 1px !important;
			}
			.x-splitter-collapsed .x-layout-split-left {

			/*background-color: rgb(85, 85, 85);*/
			}
			.regiongrid-max .x-grid-cell {
				font-size: 20px;
			}
			.regiongrid-min .x-grid-cell {
				font-size: 15px;
			}	
			
			.my-header .x-panel-header{
				height: 30px;
				 padding: 10px;

			}
			.my-header .x-panel-header-text-container-default{
				font-size: 8px;
			}	
			.my-header .x-panel-header-padding{
				padding:5px 5px 10px;
			}	

			html, body, #geomap {
				height: 100%;
			}	
			.x-toolbar-footer {background:rgba(223, 234, 242, 0)} 
			
			.btn-icon{
				height: 24px !important;

			}	
			.x-btn-default-toolbar-medium{
				border-width: 0.1px;
				padding: 2px 2px 2px 2px;
			}
			.x-toolbar .x-toolbar-item {
				margin-right: 2px;
				
			}
			.x-box-layout-ct {
				/*left: 50px;*/
				width: 150px;
				
			}

			.x-window-header-default {
			background-color: #4D545E;
			border-color: #5D6269;
			}
			.x-window-default {
			border-color: #5D6269;
			}
			.x-window-header-default .x-tool-img {
			background-color: #4D545E;
			}
			.x-window-body-default {
			border-color: #3892d3;
			border-width: 1px;
			border-style: solid;
			background: white;
			color: black;
			font-weight: normal;
			font-family: Oswald,sans-serif;
			font-size: 14px;
			}
			.x-window-header-text-container-default {
			color: white;
			font-weight: bold;
			line-height: 15px;
			font-family: Oswald,sans-serif;
			font-size: 12px;
			padding: 1px 0 0;
			text-transform: none;
			}
		
			.gx-popup-anc.top {
			background: transparent url(../../libs/geoext2-2.0.3/resources/images/default/anchor-top-access.png) no-repeat 0 0 !important;
			}	
			.gx-popup-anc {
			background: transparent url(../../libs/geoext2-2.0.3/resources/images/default/anchor-access.png) no-repeat 0 0 !important;
			}
			.x-panel-default-outer-border-rbl {
			border-right-color: silver !important;
			border-right-width: 1px !important;
			border-bottom-color: silver !important;
			border-bottom-width: 1px !important;
			border-left-color: silver !important;
			border-left-width: 1px !important;
			}
			
			
			.x-panel-body-default { 
			background: white;
			border-color: silver !important;
			color: black;
			font-size: 13px;
			font-family: Trebuchet MS;
			border-width: 1px;
			border-style: solid;
			}

						
			.custom-gridPanelHover .x-grid-cell { 
				font-family: Trebuchet MS;
				font-size: 11px !important;
			}

			.custom-gridPanelHover .x-column-header-text {
			white-space: nowrap;
			font-family: Trebuchet MS;
			background-repeat: no-repeat;
			font-size: 11px;
			}
			.custom-gridPanelHover .x-btn-default-toolbar-small {
			padding: 1px 1px 1px 1px;
			}

			.custom-gridPanelHover .x-toolbar {
			/* font-size: 13px; */
			/* border-style: solid; */
			padding: 0px 0 0px 0px;
			}

			.custom-gridPanelHover .x-grid-cell-inner { /*alto de la fila*/
				overflow: hidden;
				padding: 1px 3px;
				white-space: nowrap;
			}


			.custom-slider {
				width:214px;
				padding-top:6px;
				background-image:url(images/ticks.gif);
			}
			.custom-slider .x-slider-thumb {
				background-image:url(images/slider-thumb.png);
			}


			.x-toolbar-default{
			border: none;
			}

			.my_css_toolbar .x-toolbar .x-docked{
				width: 130px !important;
			}
			.my_css_toolbar{
				margin-left: 50px;
				width: 170px !important;
				right: auto;
				left: 0px;
				top: 0px;
				background-color: transparent;
			}		
			
			.active-button-icon {
			  background-color: yellow;
			  background-image: none;
			}	

			.x-btn.x-btn-my-over {
				background: #E9F077;
			}
			/*.x-btn-over  {  aplica par todos los botones
				background: #E9F077;
			}*/
			/*Ext is not consistent */
			.x-btn.x-btn-my-pressed {
				background: #E9F077;
			}
			.my-cls .x-btn-inner {
				font-size: 10px;
			}

			.legend {
				padding-left: 18px;
			}
			.x-tree-elbow, .x-tree-elbow-end {
				width: 3px !important;
			}
			.gx-tree-layer-icon {
				display: none !important;
			}

		/*######################## LEGEND ############################*/
			#cafenica:before {
				content: ' \25CF';
				font-size: 20px;
				color: red;
			}	
			#ideam:before {
				content: ' \25CF';
				font-size: 20px;
				color: blue;
			}
			#cruz-roja:before {
				content: ' \25CF';
				font-size: 20px;
				color: black;
			}		
			#afr-rising:before {
				content: ' \25CF';
				font-size: 20px;
				color: green;
			}			
			#inmet:before {
				content: ' \25CF';
				font-size: 20px;
				color: DarkOrange;
			}		
			#Copeco:before {
				content: ' \25CF';
				font-size: 20px;
				color: gray;
			}
			#noaa:before {
				content: ' \25CF';
				font-size: 20px;
				color: purple;
			}	
			#enee:before {
				content: ' \25CF';
				font-size: 20px;
				color: brown;
			}			
			.legendFond{
				font-family: Trebuchet MS;/*Oswald,sans-serif;*/
				font-size: 10px !important;
				/*height: 28px; */

			}
				
			/*######################## INFO HELP ############################*/
			.x-tip .x-tip-body{
			background-color: rgba(45,45,45,0.88);
			color: #fff;
			border: 1px solid rgba(255,255,255,0.25);
			font-size: 11px !important;
			font-family: Trebuchet MS;
			text-shadow: 0 0 2px #000;
			-webkit-border-radius: 3px;
			-webkit-box-shadow: 0 0 3px #555;
			}
			.tooltipIcon{
			width: 13px;
			height: 13px;
			vertical-align: middle;
			}
			/*#######################################################*/	

			.tabTreeCSS .x-panel-default-outer-border-trl {
			border-top-color: silver !important;
			border-top-width: 1px !important;
			border-right-color: silver !important;
			border-right-width: 1px !important;
			border-left-color: silver !important;
			border-left-width: 1px !important;
			}			
			.custom-gridPanelHover .x-panel-default-outer-border-trl {
			border-top-color: silver !important;
			border-top-width: 1px !important;
			border-right-color: silver !important;
			border-right-width: 1px !important;
			border-left-color: silver !important;
			border-left-width: 1px !important;
			}			
			.gridStatisticCSS .x-panel-default-outer-border-trl {
				border-top-color: #C0C0C0 !important;
				border-top-width: 1px !important;
				border-right-color: #C0C0C0 !important;
				border-right-width: 1px !important;
				border-left-color: #C0C0C0 !important;
				border-left-width: 1px !important;			
			}	

			.tabTreeCSS .x-panel-body-default { /* para quitar una linea del panel de layers */	
			border: none;
			border-style: none;
			}
	
			/*############### title mainpanel #############################*/	
			.x-panel-header-text-container-default {
				color: white;
				font-size: 16px;
				font-weight: bold;
				font-family: Trebuchet MS;
				line-height: 15px;
				padding: 1px 0 0;
				text-transform: none;
			}

			.toolLogin .x-tool-img {
				/*overflow: hidden;*/
				overflow: inherit;
				width: 18px;
				height: 18px;
				background-image: url(../iconosGIS/buttons/login16.png);
				margin: 0;
			}	
			.toolLogin .x-tool-img {
				opacity: 10;
			}
			.toolDownload .x-tool-img {
				overflow: hidden;
				width: 16px;
				height: 16px;
				background-image: url(../iconosGIS/buttons/file-info-icon.png); /*Cloud-Download-Off-icon.png*/
				margin: 0;
			}	
			.toolDownload .x-tool-img {
				opacity: 10;
			}		
			.toolGraph .x-tool-img {
				overflow: hidden;
				width: 16px;
				height: 16px;
				background-image: url(../iconosGIS/buttons/pie-chart-graph-icon16.png);
				margin: 0;
			}	
			.toolGraph .x-tool-img {
				opacity: 10;
			}	
			.toolStatistic .x-tool-img {
				overflow: hidden;
				width: 16px;
				height: 16px;
				background-image: url(../iconosGIS/Table-icon.png);
				margin: 0;
			}	
			.toolStatistic .x-tool-img {
				opacity: 10;
			}			
			/* para cambiar el alto de la fila header*/
			#gridRegionIDHover .x-column-header-inner .x-column-header-text {
				white-space: normal;
			}
			 
			#gridRegionIDHover .x-column-header-inner {
				line-height: normal;
				padding-top: 2px !important;
				padding-bottom: 2px !important;
				text-align: center;
				top: 15%;
			}		

			.custom-gridPanelHover .gridRegionHover-1column .x-change-cell {
				font-weight: bold;
			}
			
			.olControlPanZoomBar {
				/*width: 7px !important;
				 top: 58px !important;
				left: 48px !important;
			   height: 214px;
				background: transparent url(../iconosGIS/zoombar.png) no-repeat 50% 100%; */
			}				
			div.olControlZoom a {
				display: block;
				margin: 1px;
				padding: 0;
				color: white;
				font-size: 18px;
				font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
				font-weight: bold;
				text-decoration: none;
				text-align: center;
				height: 22px;
				width: 22px;
				line-height: 19px;
				background: #130085;
				background: rgba(51, 60, 72, 0.5);
				filter: alpha(opacity=80);
			}	
	
	
			
			.x-panel-default-framed {
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				padding: 0px 0px 0px 0px;
				border-width: 1px;
				border-style: solid;
				background-color: white;
				border-color: silver;
			}	

			.key {
			  background-image:url('../iconosGIS/key-icon.png') !important;
			}			
			.key-go {
			  background-image:url('../iconosGIS/key-go-icon.png') !important;
			}	
			.down {
			  background-image:url('../iconosGIS/download.png') !important;
			}	
			.mainpanelID_header-body{
				height: 25px;
			}
			
			.x-box-layout-ct {
				/* overflow: hidden; */
				/* zoom: 1; */
			}	

			.price-fall .x-change-cell {
				color:#83939E;
			}

			.price-fall .x-grid-row-checker {
				background-position: 0 15px;
			}	
			.general-rule .x-grid-row-checker {
				left: -9999px !important;
				position: relative;
			}			

/*  ==============================================                  */

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-grid-checkheader {
    width: 15px;
    height: 15px;
    background-image: url('../../libs/ext-4.2.2/resources/ext-theme-neptune/images/form/checkbox.png');
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    display: block;
    margin: auto;
}

.x-grid-checkheader-checked {
    background-position: 0 -15px;
}

.x-grid-checkheader-disabled {
    background-position: 0 -30px;
}

.x-grid-checkheader-checked-disabled {
    background-position: 0 -30px;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}			
			
	

.x-panel-body-default-framed {
    background: white;
    border-color: #DFDFDF;
    color: black;
    font-size: 13px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    border-width: 1px;
    border-style: solid;
}
		
/*================================================== POPUP=======================================================*/	
#popup_FrameDecorationDiv_0 img, #popup_FrameDecorationDiv_1 img,
#popup_FrameDecorationDiv_2 img, #popup_FrameDecorationDiv_3 img,
#popup_FrameDecorationDiv_4 img{
    display: none;
}
.olPopupCloseBox {
    background: url("../iconosGIS/popup_images/gmap_ui.png") no-repeat;
    background-position: 0px -334px;
    cursor: pointer;
    top: 10px !important;
    right: 10px !important;
}
.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
    /*font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;*/
    font-family: Trebuchet MS;
    font-size: 10px;
    top: 5px !important;
    right: 5px;
    bottom: 20px;
    left: 5px !important;
    width: auto !important;
    height: auto !important;
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.298039) !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.298039);
    line-height: 1.5em;
	opacity: 0.8;
}
.olFramedCloudPopupContent .title{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.olFramedCloudPopupContent .spacer{
    margin-left: 40px;
}
#popup_FrameDecorationDiv_2{
    /*width: 100% !important;*/
    width: 100% !important;
    background: url('../iconosGIS/popup_images/tail.png') no-repeat center center;
    z-index: 10;
    height: 21px !important;
    bottom: 0px !important;
	opacity: 0.5;
}


/*=========================================================================================================*/	
	
.x-tab-bar-default .x-box-scroller {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    background-color: #959396;
}


.myFieldIdLog {
    background: white;
    border-color: silver !important;
	text-align:center;
    color: #135A92;
    font-size: 10px !important;
    font-family: Trebuchet MS;
    /* font-weight: bold; */
    border-width: 1px;
    border-style: none;
}
/* 			
.x-grid-hd-checker-on .x-column-header-text, .x-grid-row-selected .x-grid-row-checker, .x-grid-row-checked .x-grid-row-checker {
    background-position: 0 -15px;
}	

.x-grid-row-checker, .x-column-header-checkbox .x-column-header-text {
    height: 15px;
    width: 15px;
    background-image: url(images/form/checkbox.png);
    line-height: 15px;
}

*/