
.boxblock {
	width: 50%;
	margin-left: 25%;
}

.emailIcon {
    background: url('http://gisweb.ciat.cgiar.org/Bc_Downscale/icon_mail_tiny.png') no-repeat scroll 99% center #fff;
}

.boxblock label {
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.clearfix {
    display: block;
}

#email, #email_ver {
    margin-bottom: 20px;
    width: 100%;
	
    border-top: 1px solid #777;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;	
}

.setCookieDesc {
    padding: 10px;
    background-color: #efefef;
}

h2, .h2 {
    font-size: 1.17em;
    font-weight: bold;
    padding: .25em 0 .5em 0;
    line-height: 1.1em;
    margin-bottom: 0.25em;
}

#download-button-bottom {
    float: right;
    margin-left: 5px;
	
    line-height: 28px;
    display: block;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 0;
    background-color: #245bab;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: 'Open Sans',Helvetica,Arial,sans-serif;	*/

}

.download-button:hover {
    background-color: #4e8cc7!important;
}


.hd {
    background-color: #444;
    color: #FFF;
    font-weight: normal;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;	
	width: 756px;
    margin-left: 50px;
	font-weight: bold;
	height: 30px;
}

table {
    border-top: 1px solid #CCC;
    line-height: 1.333em;
    margin-bottom: 1em;
	color: #444;
	
	border-collapse:collapse; 
    table-layout:fixed; 
    width:90%;
	margin-left: 50px;
	}
table td {width:100px; word-wrap:break-word;}
table th {width:5%;text-align: center;vertical-align: middle;}

td, th {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding:5px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
tbody, tfoot {
    border-right: 1px solid #CCC;
}