/*========================
 *==      Data.css      ==
 *========================
 */
 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
ul{margin:0;padding:0;list-style:none} 
.skin-minimal .skin-section .list li{padding-left:0px}

#search_form {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    /*background: url(../images/search-form.png);*/
    min-height: 510px;
}

/* Side Settings */

#side-left {
    float: left;
    width: 27%;
    height: 515px;
}
#side-right{
    float: right;
    width: 72%;
    height: 515px;
}
#side-right-top{
    width: 100%;
    height: 75px;
}
#side-right-bottom{ 
    width: 100%;
    height: 415px;
}

/* Accordion Settings */

.ac-container{
    width: 96%;
    margin: 4px 3px 30px 3px;
}
.ac-container article{
    font-size: 13px;
    padding: 0px 11px 0 11px;
    background: #fff;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}
.ac-container article p{
    
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    
}

/* Accordion Settings  Form*/

label.inputs-ac{
    background: #323A45;
    padding: 5px 20px;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 2px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px
;    cursor: pointer;
    color: #FFF;
    
    line-height: 33px;
    
}
label.inputs-ac:hover{
    background: #2A3038;
}
span.inputs-ac.selected + label.inputs-ac,
span.inputs-ac.selected + label.inputs-ac:hover{
    background: #323a45;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF;
    
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}
label.inputs-ac:hover:after,
span.inputs-ac.selected + label.inputs-ac:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;  
}
span.inputs-ac.selected + label.inputs-ac:hover:after{
    background-image: url(../images/arrow_up.png);
}
span.inputs-ac{
    display: none;
}

span.inputs-ac.selected ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.inputs-acf span.inputs-ac.selected ~ article.ac-large{
    height: 100px;
    padding-top: 10px;
}

span.inputs-ac.selected ~ article.ac-large{
    height: 180px;
    padding-top: 10px;
	overflow-y: auto;
}

span.inputs-ac.selected ~ article.ac-large2{
    height: 180px;
    padding-top: 10px;
    overflow: scroll;
}

/*label.inputs-acf, span.inputs-acf.selected {
    background: #323a45;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
 0px 2px 2px rgba(0,0,0,0.1);
}*/

label.inputs-acf {
    background: #323A45;
    padding: 5px 20px;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 2px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #FFF;
    line-height: 33px;
}

.fileset-category:first-child{
    margin-top : 0 !important;
}

.fileset-category{
    margin-top : 6px;
    color: rgb(19, 90, 146);
}

.iradio_minimal + label{
    margin-left: 3px;
}

/* Map Settings */

#map-canvas{
    width: 610px;
    height: 432px;
}

/* blocs Settings */
.bloc-e {
    font-size: 13px;
    width: 137px;
    float: left;
}

.bloc {
    font-size: 13px;
    width: 25%; /*110px;*/
    float: left;
}
#box {
    background: #7C7C7C;
    font-weight: 300;
    color: #FFF;
    width: 85px;
    border-radius: 5px;
    padding: 1px 0px 1px 46px;
    margin-bottom: 4px;
    text-shadow: 1px 1px 6px #B4B4B4;
    font-size: 14px;
}

.box-b:hover {
 background-color: #5c5c5c;
}

.box-b {
    background: url(../images/dropdown.png) 83px no-repeat #7C7C7C;
    font-weight: 400;
    color: #FFF;
    width: 95px; /*54px;*/
    border-radius: 5px;
    padding: 3px 33px 3px 20px;
    
     
    text-align: center;
    cursor: pointer;
}

.l {
    width: 151px;
}

.bloc .l:hover {
 background-color: #5c5c5c;
}

.bloc .l {
    background: url(../images/dropdown.png) 119px no-repeat #7C7C7C;
    font-weight: 400;
    color: #FFF;
    width: 95px;
    border-radius: 5px;
    padding: 3px 33px 3px 20px;
    text-align: center;
    cursor: pointer;
}

#dropdown-arrow:hover,.box-content:hover,.box-b:hover ~ .box-content{
    display: block;
}

.box-content {
    position: absolute;
    z-index: 100;
    color: #FFF; 
    display: none;
}

#period-b-filters #drop-content{
  width: 280px;
}

#period-b-filters .irs-max, #period-b-filters .irs-min {
  color:#fff;
}

#drop-content{
    background: #34495E;
    padding: 10px;
    border-radius: 5px;
    min-width: 96px;    
}

#dropdown-arrow {
    width: 100px;
    height: 5px;
    background: url(../images/dropdown-arrow.png);
}

#bloc-search {
    margin-top: 15px;
    color: #cd0a0a;  /* #555*/
    font-weight: 300;
    position: inherit;
    width: 280px;
    float: right;
    text-align: center;
	font-size: 12px;
    /* box-shadow: 1px 1px 8px #A7A7A7; */
}

#bloc-point {
    margin-top: 15px;
    color: #555;
    /*font-weight: 300;*/
    position: inherit;
    width: 240px;
    float: left;
}

#bloc-search button{
	cursor: pointer;
    border: 0; 
    background: #2a313a;
    color: #fff;
    padding: 4px 14px 4px 14px;
    border-radius: 4px;
    float: right;
}
#bloc-search button:hover {
    background-color: #615D5D;
}


.data .help_icon {
    display: none;
    float: right;
}
.data .loader {
    display: none;
}

/* ToolTip - TipTip */
#tiptip_content {
    text-align: justify;
}

.disabled {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
    filter: alpha(opacity=30); 
    -moz-opacity:0.3; 
    -khtml-opacity: 0.3; 
    opacity: 0.3;
}

button[type="submit"][disabled] { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
    filter: alpha(opacity=30); 
    -moz-opacity:0.3; 
    -khtml-opacity: 0.3; 
    opacity: 0.3;
}

/* iCheck style */ 

.icheckbox_flat  { 
    float: left;
}

/* IE Browsers message */

#browserWarning {
    background: url(../images/iewarn.png) no-repeat;
    font-size: 14px;
    line-height: 4px;
    padding: 5px 15px 5px 94px;
    margin: 10px 31px;
    border: 1px solid #DADADA;
    background-color: #F3F3F3;
    display: none;
}


/******************* VIDEO TUTORIAL *********************/


#content-video {
	border: solid 1px #000;
	width: 100%;
    height: 100%;		
}


.messagepop {
 background-color:#FFFFFF;
  border:2px solid #999999;
  cursor:default;
  display:none;
  /*margin-top: 20px;*/
  position:absolute;
  text-align:left;
  height:100%;
 width:100%;
  z-index:50;
  padding: 10px 10px 10px;
  padding: .3em 1em;
  border-radius: 8px 8px 8px 8px;
 
  
}

.error {
  color: red;
  font-size: 11px;
}


/******************* bton load file station *********************/

#button-file{
	cursor: pointer;
    position: relative;
    font-size: 14px;
    color: white;
    left: -1px;
    font-family: 'Oswald', sans-serif;
    background-color: #2A313A;
    }
#station-file{
cursor: pointer;
opacity:0;
 position:relative;
    left: 0;/*-120px;*/
    top: 0;/*-20px;*/
}
#fileName{
cursor: pointer;
width: 60%;
margin-top: 8px;
}

#delimit{
    margin-top: 5px;
}
.file_input_div{
position: absolute;
    margin-top: 5px;
	display: inline;
}
#button-file:hover {
    background-color: #615D5D;
}

/*=============error file station==============*/

.error_file {
    font-size: 14px;
    color: red;
    font-family: 'Oswald', sans-serif;
    }
.error_file_p{
    font-size: 14px;
    color: red;
    font-family: 'Oswald', sans-serif;
    }	
	
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}	
/*
#file_input_div {
    width: 100%;
    height: 20px;
    background-color: white;
    box-shadow: 1px 2px 3px #ededed;
    position:relative;
    border: 1px solid #d8d8d8;
	margin-top: 5px;
}
input[type='file'] {
    width:100%;
    height:25px;
    opacity:0
}
#fileName {
    width: 100%;
    height:20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size:13px;
    line-height: 25px;
    text-indent: 10px;
    pointer-events: none;
}
#button-file {
    cursor: pointer;
    display: block;
    width: 60px;
    background-color: #2A313A;
    height:20px;
    color: white;
    position: absolute;
    right:0;
    top: 0;
    font-size: 11px;
    line-height:20px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
}

#button-file:hover {
    background-color: #615D5D;
}*/