/*
    Document   : Main Stylesheet
    Created on : Sep 11, 2012, 3:15:35 PM
    Author     : Héctor Fabio Tobón R. (h.f.tobon@cgiar.org)
*/

/********************** GENERAL BODY ***************************/
body {
    color: #555555;
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 0;
    text-align: center;
    /*background: #E6F4E3;*/
    background: url("/theme/images/background.jpg") #E6F4E3 50% no-repeat fixed;
    background-size: cover;

}
a:link, #content a {
    color: #4E2700;
    text-decoration: none;
    font-weight:bold;
}
p {
    text-align: justify;
}
img {
    border: 0;
}
h4 {
    display: inline;
}
.container {
    text-align: left;
    width: 100%;
}
.wrapper {
    margin: 20px auto;
    width: 940px;
    padding: 20px 30px 10px;
    background: url("/theme/images/header-background.png") no-repeat scroll top left white;
    /* SHADOW */
    -webkit-box-shadow: 2px 7px 29px #5A5E59; /* Safari and Chrome */
    box-shadow: 2px 7px 29px #5A5E59;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#5A5E59,Strength=10)";
}

div.center {
    text-align: center;

}
div.center2 {
    /*text-align: center;*/
    float: left;
    padding-right: 40px;
    padding-left: 200px;
}
span.little {
    font-size: 10px;
}

/* Header-Body */
.wrapper #logo {
    text-align: right;
}
.wrapper #logo img {
    width: 33%;
}

/* Subheader */
.wrapper #subheader-image {
    text-align: center;
    margin-top: 30px;
    margin-left: -49px;
}

.main_section {
   margin-left: 3%;
}

/* Content */
#content {
    padding: 0 50px;
}
#content h1 {
    text-align: center;
}

/************************** MAIN MENU **************************/

#navlist {
    background: none repeat scroll 0 0 black;
    height: 35px;
    margin-bottom: 0;
    width: 100%;
    min-width: 1100px;
    padding-top: 10px;
    text-align: center;
    color: grey;
}
#navlist li {
    display: inline;
}
#navlist a {
    font-size: 14px;
    padding: 4px 19px;
    color: #FFFFFF;
    font-size: 0.8em;
    text-decoration: none;
}
#navlist a:hover {
    border-bottom: 2px solid #225C22;
    color: #000000;
    text-decoration: none;
}
#navlist li.current a {
    font-weight: bold;
    border-bottom: 2px solid #225C22;
}

.wrapper #navlist {
    z-index: 50;
    text-align: right;
    background: transparent;
    min-width: 0px;
    padding: 0;
}
.wrapper #main-menu #navlist {
    margin-top: 30px;
}
.wrapper #navlist a {
    color: #074701;
}
.wrapper #secondary-menu #navlist a {
    padding: 2px 5px;
}
.wrapper #main-menu #navlist a {
    font-size: 16px;
    padding: 2px 5px;
}

nav {
    /*background-color:rgb(255,100,100);*/
    padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

nav li ul {    
    background-color:rgba(50, 58, 69, 0.9);
    position:absolute;
    left:0;
    /*top:40px;  make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

ul.sub-menu {
    display:none;
    z-index: 100;
}

/* style all links */
nav li li a:hover,
nav a:focus,
nav a:active {
    color:#FCD116!important;
}

/* style sub level links */
nav li li a  {
    /*border-bottom:solid 1px #fff!important;*/
    margin:0 10px;
    padding:0;
    /*line-height:40px;*/
    padding:0 12px;
    margin:0 12px;
    color:#fff!important;
    text-decoration:none;
    display:block;
    text-align: left;
}
.conBorder{
	border-bottom:solid 1px #fff!important;
}

nav li li:last-child a {
    border-bottom:none;
}

/* show arrows for dropdowns */
/*nav li.dropdown > a {
    background-image:url('../images/arrow_down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}*/


/********************* SCONDARY MENU **************************/

.wrapper #secondary-menu #navlist {
    margin: 0;
}


/************************** HOME **************************/
div.home {
    padding: 0px 0px !important; /* bad practice, just for home */
}
/* Links to sections */
.home #sections {
    margin-top: 30px;/*40px;*/
    padding-bottom: 10px;
	/* padding-left: 8%; */
}
.home #sections img {
    /*width: 158px;*/
    /*height: 350px;*/
    width: 140px;/*120px;*//*126.4px;*/
    height: 305px;/*280px;*/
    top: 0;
    left: 0;
    position: absolute;
}
.home #sections #section {
    position: relative;
    top: 0;
    left: 0;
    width: 145px;/*131px;*/
}

.home #content-description {
    margin-top: 300px;
    font-size: 14px;
}

/******************** SPATIAL DOWNSCALING ***********************/

.downscaling #methods {
    text-align: center;
    margin-left: 20px;
}

.downscaling  #methods #section {
    height: 180px;
    position: relative;
    top: 0;
    width: 400px;
}

.downscaling #methods img {
    width: 380px;
    height: 171px;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
}

/***************** SPATIAL DOWNSCALING DELTA ********************/

.downscaling_delta #projections {
    margin-left: -40px;
    width: 110%;
}

.downscaling_delta #projections img {
    width: 450px;
    border: 0;
}

/***************** PATTERN SCALING ********************/

.pattern_scaling #sections {
    text-align: center;
    font-weight: bold;
}
.pattern_scaling #sections li {
    display: inline;
    padding: 0px 20px;
    border-left: 2px #074701 solid;
}

.pattern_scaling #sections li.last {
    border-right: 2px #074701 solid;
}

.pattern_scaling #button_down_resc {
    margin-top: 10px;
}

.pattern_scaling #data_support {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 5px;
    padding: 10px 0;
    text-align: center;
}

.pattern_scaling #data_support h5 {
    margin: 5px 0 0;
}

/*************** SPATIAL DOWNSCALING CLIMGEN *****************/
.downscaling_climgen #projection_images {
    width: 105%;
}

/*************** DYNAMIC DOWNSCALING PRECIS *****************/
.downscaling_dynamical #table-downs-sa {
    border: 2px groove;
    margin-left: 110px;
    text-align: center;
}

.downscaling_dynamical #table-downs-sa td {
    padding: 0 10px;
}

/******************* SPATIAL DISAGGREGATION ************/
.disaggregation #circulation-model {
    margin-left: -60px;
    margin-right: -60px;
    width: 116%;
}

/******************** DOCUMENTATION ******************/
.documentation #document-list li {
    padding-top: 15px;
    list-style-type: none;
}

/******************** LINKS *****************************/
.links #link-list li {
    padding-top: 15px;
}

/******************* CONTACT ***********************/
.contact #table-contact td {
    padding: 0 20px;
    text-align: center;
    vertical-align: top;
}

.contact #table-contact .contact-info {
    font-size: 13px;
}

/******************** DATA *****************************/


/******************* FORM *********************/
.form .button-image {
    padding-right: 5px;
}

.form #div-form {
    width: 100%;
}

.form #div-form #contact-form {
    margin-left: 150px;
    position: relative;
    width: 60%;
}

.form #div-form #contact-form .input-form {
    text-align: center;
}

.form #div-form #additional-information {
    border: 3px ridge;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #FEFEF5;
    display: none;
}

.form #div-form #additional-information .input-form {
    margin-right: 80px;
    margin-top: 10px;
    text-align: right;
}

.form #div-form #additional-information .checkbox-form {
    margin-top: 10px;
}

.form #div-form #additional-information .check-group {
    margin-left: 20px;
}

.form #div-form #additional-information .check-group input {
    width: 30px;
}

.form #div-form #additional-information .text-area-form {
    margin-top: 20px;
}

.form #div-form #additional-information .text-area-form textarea {
    display: block;
}

.form #div-form #additional-information .submit-button {
    text-align: center;
    margin-top: 20px;
}

.form #div-form #additional-information .skip-button {
    text-align: center;
    margin-top: 20px;
}

.form #additional-information #welcome-message {
    font-size: 11px;
    margin: 0 0 20px;
    padding: 0;
    text-align: right;
}

.form .input-form .ajax-loader {
    display: none;
}

.form .input-form .error {
    color: red;
    display: block;
    font-size: 12px;
    margin-left: 160px;
    text-align: left;
    display: none;
}

.form .submit-button #ajax-loader {
    display: none;
}
.form .submit-button #message {
    color: green;
    font-size: 12px;
    font-weight: bold;
}
.form .skip-button #ajax-loader {
    display: none;
}
.form .skip-button #message {
    color: green;
    font-size: 12px;
    font-weight: bold;
}
.form #download-files {
    display: none;
    margin-top: 40px;
}

.form #download-files p {
    color: blue;
    font-size: 14px;
    text-align: center;
}



/******************* FOOTER *********************/
#footer {
    background-image: url("/theme/images/footer-background.jpg");
    background-size: 17px auto;
    background-repeat: repeat-x;
    background-color: #DDDDDD;
    font-size: 10px;
    margin-bottom: -10px;
    margin-left: -30px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    width: 106.4%;
}
#footer hr {
    margin-bottom: 30px;
}
#footer img {
    height: 65px;
    padding: 5px 8px;
}

#dataTable td:nth-child(1){
 width: 56px;
}
#dataTable td:nth-child(2){
 width: 740px;
}
#bodyTableFiles {
 max-height: 500px; overflow: auto;display: inline-block; margin-right: 10px;width: 100%;
}
#headTableFiles {
 display: block;border-spacing: 1;width: 100%;width: 100%;
}

#loading{
  position: absolute;
  width: 836px;
  height: 650px;
  background: #FFF;
  opacity: 0.6;
}
#loading img{
  position: absolute;
  top: 44%;
  left: 50%;
}

#eq_bc{
	padding-left: 35%;
}

#bc_img{
}


/******************* Bias correction *********************/
.img_bc_big {
width: 170px;
padding-left: 38%;
}
table.obs_dataset_table td, th{
    padding: 0px 5px 0px;
	margin : 0;
	border-spacing:0;
}
/*
table.obs_dataset_table {
    border: 1px groove;
    margin-left: 110px;
    text-align: center;
	border-spacing: 0;
}

table.obs_dataset_table td , td{
    padding: 0px 5px 0px;
	margin : 0;
	border-spacing:0;


}*/
/*#myFrame {
 background-image: url("/theme/images/loading.gif");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}*/
