/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2015, 7:46:17 AM
    Author     : CRSANCHEZ
*/
.remodal a#gotoclimate {
  background: rgb(214,174,0);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 1.5em;
  position: absolute;
  right: 0;
  top: 0%;
  width: 150px;
  cursor: pointer;
}

.remodal #info {
  width: 100%;
  position: relative;
  min-height: 50px;
  text-align: center;
}

.remodal * {
  font-family: 'Exo 2', sans-serif;
}

.remodal div {
  text-align: justify;
}

.remodal h1 {
  text-align: left;
}

.modal a {
  color: #275C03;
  text-decoration: underline;
}

.modal-first {
  float:left;
}

.modal-whatis {
  width: 100%;
}

.modal-whoare {
  width: 48%;
}

.modal-icons{
  margin-left: 4%;
}

#whatisamkn {
  overflow: hidden;
}

.icon {
  width: 65px;
  /*width: 100%;*/
  height: 68px;
  float:left;
  /*margin: 0.5em;*/
}

.icon-l {
  width: 164px;
  /*width: 100%;*/
  height: 173px;
  float:left;
  /*margin: 0.5em;*/
}

.policy {
  background: url("/theme/images/modal/policy_decision_maker.png") 50% 0 no-repeat;
  background-size: cover;
}

.govermental {
  background: url("/theme/images/modal/governmental_staff.png") 50% 0 no-repeat;
  background-size: cover;
}

.academic {
  background: url("/theme/images/modal/academic.png") 50% 0 no-repeat;
  background-size: cover;
}

.researcher {
  background: url("/theme/images/modal/researcher.png") 50% 0 no-repeat;
  background-size: cover;
}

.icon-text {
  float: left;
  font-size: 10px;
  text-align: center!important;
  width: 65px;
}

.icon-text-l {
  float: left;
  font-size: 15px;
  text-align: center!important;
  width: 170px;
  margin-top: 10px;
}

.icon-container{
  max-width: 25%;
  float:left;
  cursor: pointer;
}

.profiles-container {
  width: 100%;
  float:left;
}

.icon-detail-container {
  width: 35%;
  float:left;
}

.profile-detail {
  width: 65%;
  float:left;
  position: relative;
}
.profile-detail-1 {
  width: 100%;
  /*float:left;*/
}
.profile-detail-2 {
  width: 100%;
  /*float:left;*/
  position: absolute;
}

