/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2015, 7:46:17 AM
    Author     : CRSANCHEZ
*/
.remodal a#gotoclimate {
  background: rgb(214,174,0);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 1.5em;
  position: absolute;
  right: 0;
  top: 0%;
  width: 150px;
  cursor: pointer;
}

.remodal #info {
  width: 100%;
  position: relative;
  min-height: 50px;
  text-align: center;
}

.remodal * {
  font-family: 'Exo 2', sans-serif;
}

.remodal div {
  text-align: justify;
}

.remodal h1 {
  text-align: left;
}

.modal a {
  color: #275C03;
  text-decoration: underline;
}

.modal-first {
  float:left;
}

.modal-whatis {
  width: 100%;
}

.modal-whoare {
  width: 48%;
}

.modal-icons{
  margin-left: 4%;
}

#whatisamkn {
  overflow: hidden;
}

.icon {
  width: 65px;
  /*width: 100%;*/
  height: 68px;
  float:left;
  /*margin: 0.5em;*/
}

.icon-l {
  width: 164px;
  /*width: 100%;*/
  height: 173px;
  float:left;
  /*margin: 0.5em;*/
}

.icon-c {
  width: 120px;
  /*width: 100%;*/
  height: 120px;
  float:left;
  /*margin: 0.5em;*/
}

.policy {
  background: url("/theme/images/modal/policy_decision_maker.png") 50% 0 no-repeat;
  background-size: cover;
}

.govermental {
  background: url("/theme/images/modal/governmental_staff.png") 50% 0 no-repeat;
  background-size: cover;
}

.academic {
  background: url("/theme/images/modal/academic.png") 50% 0 no-repeat;
  background-size: cover;
}

.researcher {
  background: url("/theme/images/modal/researcher.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-01 {
  background: url("/theme/images/modal/topic-01.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-02 {
  background: url("/theme/images/modal/topic-02.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-03 {
  background: url("/theme/images/modal/topic-03.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-04 {
  background: url("/theme/images/modal/topic-04.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-05 {
  background: url("/theme/images/modal/topic-05.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-06 {
  background: url("/theme/images/modal/topic-06.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-07 {
  background: url("/theme/images/modal/topic-07.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-08 {
  background: url("/theme/images/modal/topic-08.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-09 {
  background: url("/theme/images/modal/topic-09.png") 50% 0 no-repeat;
  background-size: cover;
}

.topic-10 {
  background: url("/theme/images/modal/topic-10.png") 50% 0 no-repeat;
  background-size: cover;
}

.icon-text {
  float: left;
  font-size: 10px;
  text-align: center!important;
  width: 65px;
}

.icon-text-l {
  float: left;
  font-size: 15px;
  text-align: center!important;
  width: 170px;
  margin-top: 10px;
}

.icon-text-c {
  float: left;
  font-size: 15px;
  text-align: center!important;
  width: 120px;
  margin-top: 10px;
}

.icon-container{
  max-width: 25%;
  float:left;
  cursor: pointer;
}

.icon-container-d1{
  max-width: 33%;
  float:left;
  /*cursor: pointer;*/
}

.icon-container-d2{
  max-width: 33%;
  float:left;
  cursor: pointer;
}

.profiles-container {
  width: 100%;
  float:left;
}

.icon-detail-container {
  width: 30%;
  float:left;
}

.profile-detail {
  width: 70%;
  float:left;
  /*position: relative;*/
}
.profile-detail-1 {
  width: 100%;
  float:left;
}
.profile-detail-2 {
  width: 100%;
  float:left;
  margin-left: 85px;
  /*position: absolute;*/
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  /*background-color: yellow!important;*/
  border-radius: 30px!important;
  font: 8px "Helvetica Neue", Sans-Serif;
  /*text-transform: uppercase;*/
  box-shadow: 0 0 7px black;
  text-align: left;
  /*font-size: 8px;*/
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

